<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex,nofollow" />
		<title>Convert AppSettings.json to Azure App Service Settings</title>
	</head>
	<body>
		<form asp-action="Convert" enctype="multipart/form-data">
			<input name="File" type="file" />
			<button type="submit">Convert</button>
		</form>
	</body>
</html>